<div id="right_column_flip" class="right_column_flip">
    <h2>Stranice za pomoć</h2>
    <ul class="no_bullets">
        <li><%= link_to_unless_current "Uvod", help_about_path %></li>
        <li><a href="/help/about#prava-potrosaca">Prava potrošača</a></li>
        <li><%= link_to_unless_current "Pisanje prigovora", help_requesting_path %></li>
        <li><%= link_to_unless_current "Vaša privatnost", help_privacy_path %></li>
        <li><%= link_to_unless_current "Trgovci i djelatnici", help_officers_path %></li>
        <li><%= link_to_unless_current "O softveru", help_alaveteli_path %></li>
        <li><%= link_to_unless_current "Zahvale", help_credits_path %></li>
        <li><%= link_to_unless_current "API pristup", help_api_path %></li>
        <li><%= link_to_unless_current "Napredna pretraga", advanced_search_path %></li>
    </ul>

    <h2 id="contact" class="contact">Kontaktirajte nas</h2>
    <p>Ako niste pronašli odgovor na vaše pitanje ili nas želite kontaktirati vezano uz portal, <a href="<%= help_contact_path %>">pišite&nbsp;nam</a>.
    </p>
</div>