<% @title = "Kontaktirajte nas" %>

<%= foi_error_messages_for :contact %>

<div id="contact_preamble" class="contact_preamble">

    <% if !flash[:notice] %>

    <h1 id="contact"><%= @title %> <a href="#contact">#</a> </h1>
    <p> </p>
    
    <h2 id="email">Kontaktirajte pravnu osobu za službene informacije</h2>
        <ul>
            <li><a href="<%= new_request_path %>">Idite ovdje</a> da napišete javni prigovor nekom trgovcu ili pružatelju usluga.</li>

            <li>
            Za više informacija kako funkcionira portal za elektronsko podnošenje prigovora <i><%= site_name %></i> molimo vas da pokušate pronaći odgovor na stranicama za 
            <a href="<%= help_requesting_path(:anchor => 'data_protection') %>">pomoć</a>.
            </li>

            <li>Ukoliko imate pitanja vezano uz zakonsku regulativu zaštite prava potrošača molimo da pregledate stranice središnjeg portala Reklamacije.net u rubrici Pomoć.</li>
        </ul>

    <% end %>

    <h2>Kontaktirajte <i><%= site_name %></i> tim</h2>
    <% if !flash[:notice] %>
            <ul>
            <li>
            Prije slanja upita o ovom portalu, prvo pročitajte <a href="<%= help_about_path %>">stranice za pomoć</a>, jer ćete tako možda brže doći do odgovora koji tražite.
            </li>

            <li>Za sva ostala pitanja pišite nam na <a href="http://diskurs.open.hr/">Diskurs forumu</a>.
            </li>
            </ul>
    <% end %>
    
</div>
