<% @title = "Zahvale" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip" class="left_column_flip">
<h1 id="credits"><%= @title %> <a href="#credits">#</a> </h1>

<p>Alaveteli, softver koji pokreće <i><%= site_name %></i>, je projekt nevladine organizacije iz Velike Britanije &#8212; <a href="https://www.mysociety.org">mySociety</a>. Oni grade internetske stranice koje osnažuju građane u njihovim pravima. I ovo je jedna takva stranica.</p>

<dl>

<dt id="thanks">Ljudi koji su omogućili <i><%= site_name %></i> <a href="#thanks">#</a> </dt>
<dd>Eh, skoro svi (a možda i ti)! 
<ul>
<li>
    <a href="http://twitter.com/darvvon">Mirolav Schlossberg</a>, voditelj <a href="http://codeforcroatia.org">Programiraj za Hrvatsku</a>, za iniciranje, koordiniranje i u konačnici implementaciju ove internetske aplikacije za ponošenje elektronskih prigovora.
</li>
<li>
    Marin i Ivan Balabanić, osnivači udruge No-Me-Kultura za odličnu ideju i osnivanje portala Reklamacije.net.
</li>
<li>
    Zahvaljujemo se i svim volonterima koji su sudjelovali na Rekalamacije.net projektu.  
</li>
<li>
    Naposljetku, svim trgovcima i službenicima koji odgovaraju na brojne prigovore napravljene putem stranice. Njihova marljivost, strpljenje i profesionalnost jest ono što zapravo sačinjava zadovoljstvo građana i njihovih korisnika koje vidite ovdje.
</li>
</ul>
Svi ste naše zvjezde.
</dd>

<dt id="helpus">Mogu li i ja pomoći? <a href="#helpus">#</a> </dt>
<dd>
    <p>Svakako! Mi smo volonteri i podržavatelji:</p>
    <ul>
    <li>Pomozi ljudima u pronalasku uspješno rješenih prigovora, i prati rad pravnih osoba.</li>
    <li>Potraži pravne osobe koje nam nedostaju i <a href="/help/requesting#missing_body">pošalji informacije o novim pravnim osobama</a>.</li>
    <li>Napiši blog o portalu <i><%= site_name %></i> ili nekom zanimljivom prigovoru kojeg su podnjeli korisnici portala. Reci prijateljima kako jednostavno mogu podnijeti svoje prigovore.
    <li>Zaigraj <a href="/categorise/play">igru kategorizacije</a> i postavi pravilan status na prigovorima.</li>
    </ul>

<dt id="development">Razvoj <a href="#development">#</a></dt>
<dd>
 Srčani pozdrav mnogim <a href="http://alaveteli.org/">Alaveteli</a> <a href="https://github.com/mysociety/alaveteli/graphs/contributors">suradnicima</a>.</p>
</dd>

<dt id="helpus">Mogu li i ja pomoći? <a href="#helpus">#</a> </dt>
<dd>
  <dt id="volunteer">Postani volonter <a href="#volunteer">#</a></dt>
  <dd>
    <p>Ako voliš pravednost i transparentnost, imaš puno strpljenja i imaš nešto malo slobodnog vremena &#8212; razmisli o tome da postaneš volonter u <%= site_name %> administratorksom timu. Njihov posao uključuje pomoć korisnicima, moderaciju komentara i prigovora, uključenost u planiranju razvoja internetske stranice. Sva komunikacija je elektronski, najčešće emailom ili putem chata.</p>
    <p>Ako se vidiš kao član našeg tima, <%= link_to 'kontaktiraj nas', help_contact_path %>.</p>
  </dd>
  <dt id="donate">Doniraj nam <a href="#donate">#</a></dt>
  <dd>
    <p>HrOpen, krovna organizacija grupe Programiraj za Hrvatsku koja pokreće i održava <%= site_name %> je nevladina organizacija, udruga. Portal košta nekoliko tisuća kuna godišnje za redovne troškove poput servera i održavanja.</p>

    <p>Tvoja donacija, koliko god mala, stvarno pomaže. <a href=<%= MySociety::Config.get('DONATION_URL', '') %>>Doniraj</a>.</p>
  </dd>
  <dt id="classification">Razvrstaj prigovore <a href="#classification">#</a></dt>
  <dd>
    <p>Moderacija može biti zabavna! Pomozi ljudima da pronađu neki prigovor, ili da provjere kvalitetu neke usluge ili robe  tako da <a href="<%= categorise_play_path %>">odigraš igru kategorizacije</a>.</p>

    <p>Ili budi sunce i pronađi email adrese pravnih osoba za koje još <a href="<%= help_requesting_path(:anchor => 'missing_bodies') %>">nemamo kontakt</a>.</p>
  </dd>

  <dt id="promote">Raširi vijest <a href="#promote">#</a></dt>
  <dd>
    <p>Nemamo proračun za marketinške svrhe, stoga ćemo ti biti zahvalni ako nas preporučiš dalje.</p>
      <ul>
        <li>Napiši blog o portalu <i><%= site_name %></i> ili nekom zanimljivom prigovoru kojeg su podnjeli korisnici portala. 
        <li>Postaj o portalu, i čemu služi na forumu kojeg često posjećuješ.</li>
        <li>Reci prijateljima kako jednostavno mogu podnijeti svoje prigovore.</li>
        <li>Upoznaj lokalne novine ili časopis lokalne zajednice o dobrim osobinama portala.</li>
      </ul>
  </dd>
</dd>

  <dt id="code">Poboljšaj kod <a href="#code">#</a></dt>
  <dd>
    <p>Jesi li našao nešto što može raditi bolje? Ako si programer, <a href="https://github.com/mysociety/alaveteli/">pogledaj source code</a> glavnog projekta, <a href="http://alaveteli.org/">Alaveteli</a> i pošalji pull request. <i><%= site_name %></i> je programirana u <a href="http://rubyonrails.org/">Ruby on Rails</a>.</p>
  </dd>
</dl>

<div id="hash_link_padding"></div>

</div>