<% @title = "Vaša privatnost" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
<h1 id="privacy"><%= @title %> <a href="#privacy">#</a> </h1>

<dl>

<dt id="email_address">Tko može vidjeti moju e-mail adresu? <a href="#email_address">#</a> </dt>

<dd><p>Nećemo otkriti vašu e-mail adresu nikome, osim ako nas na to obvezuje zakon ili ako nas vi to zatražite. Navedeno se odnosi i na tijelo javne vlasti kojemu upućujete prigovor. Oni mogu samo vidjeti adresu oblika @<%= AlaveteliConfiguration::incoming_email_domain %> koja je jedinstvena za taj prigovor.</p>
<p>Ako pošaljete poruku drugom registriranom korisniku na stranici, tada će im se prikazati vaša osobna e-mail adresa. Bit ćete upozoreni o tome prilikom slanja poruke.</p>
</dd>

<dt id="nasty_spam">Hoćete li mi slati neugodne i neprimjerene spamove? <a href="#nasty_spam">#</a> </dt>

<dd>Nećemo. Kada se registrirate na <i><%= site_name %></i>, slat ćemo vam samo poruke u vezi s vašim podnesenim prigovorom, obavijest o tome da ste se uspješno registrirali, ili pak one poruke koje ste sami odabrali i na njih se pretplatili. Nikada nećemo odati ili prodati vašu e-mail adresu, osim ako nas na to ne obveže zakon ili nas vi navedeno sami zatražite.
</dd>

<dt id="public_request">Hoće li moje ime i moj prigovor biti javno prikazani na stranici? <a href="#public_request">#</a> </dt>

<dd>
<p>Vaše je ime vezano uz vaš prigovor, pa mora biti i objavljeno. To je jedini ispravan i pravedan način s obzirom da ćemo objaviti i ime djelatnika (službenika) koji odgovara na vaš prigovor. Korištenje vašeg pravog imena također pomaže drugima da stupe u kontakt s vama i pomognu vam u potrazi ili da se udruže s vama u daljnjoj borbi za vaša prava kao potrošača.
</p>
<p>
Objavljujemo vaš prigovor na internetu tako da ga svatko može pročitati i poslužiti se informacijom koju ste vi pronašli. Uobičajeno je da ne brišemo prigovore (<a href="#delete_requests">više detalja</a>).
</p>
</dd>

<dt id="real_name">Mogu li koristiti pseudonim ili nickname? <a href="#real_name">#</a> </dt>

<dd>
<p>Ne.</p>

<p>Po zakonu morate koristiti vaše pravo ime kada podnosite pisani prigovor trgovcu odnosno pružatelju usluge kako bi on bio pravno važeći i kako biste mogli podnijeti žalbu. Dakle, morate koristiti vaše pravo ime kada podnosite pisani prigovor trgovcu/pružatelju usluge kako bi on bio zakonski važeći. Ne možete podnijeti prigovor koristeći se pseudonimom.</p>

<p>Molimo da se ne pokušavate predstavljati kao netko tko niste.</p>
</dd>

<dt id="full_address">Trebam li dati svoju poštansku adresu? <a href="#full_address">#</a> </dt>

<dd>
<p>Ako vas pravna osoba traži punu, fizičku adresu, odgovorite im da želite komunikaciju elektroničkom poštom. Pravna osoba će odgovoriti na vaš prigovor kada daju pristup traženoj informaciji elektroničkim putem bez potrebe da im dostavite kućnu adresu.
</p>
</dd>

<dt id="delete_requests">Možete li izbrisati moj zahtjev ili izmijeniti moje ime?  <a href="#delete_requests">#</a> </dt>

<dd>

<p>Portal <%= site_name %> zadržava pravo da izbriše Vaš prigovor ukoliko ga ocijeni pravno ili sadržajno nevaljanim u pogledu javne komunikacije. Također, portal će obrisati Vaš prigovor ukoliko to zatražite elektroničkim putem.
</p>

</dd>

<dt id="takedown">Možete li ukloniti moje osobne podatke? <a href="#takedown">#</a> </dt>

<dd>
<p>Ako ugledate svoje osobne podatke na portalu koje bi željeli ukloniti, <a href="/help/contact">recite nam</a>. Specificirajte koju informaciju smatrate problematičnom i zašto, te gdje se nalazi na portalu i mi ćemo se očitovati po tom pitanju vrlo ažurno.</p>

</dd>


</dl>

<p><strong>Saznajte više</strong> na stranici <a href="/help/officers">pitanja i odgovori za pravne osobe</a> --&gt;

<div id="hash_link_padding"></div>


</div>
