<% @title = "Podnošenje prigovora" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip">

<h1 id="making_requests"><%= @title %> elektroničkim putem <a href="#making_requests">#</a> </h1>
<dl>

<dt id="which_authority">Nisam siguran kome moram podnijeti prigovor? <a href="#which_authority">#</a> </dt>

<dd>
<p>Ponekada može biti teško pronaći pravi naziv pravne osobe. Evo nekoliko savjeta:
<ul>
<li>Pogledajte na račun ili neki drugi dokument je li napisano ime trgovca ili pružatelja usluga.</li>
<li>Potražite na <%= site_name %> neke slične žalbe.</li>
<li>Upišite u Google ili neku drugu tražilicu naziv proizvoda koji ste kupili te pokušajte utvrditi radi li se o trgovcu ili tijelu javne vlasti kojem možete podnijeti prigovor.</li>
<li>Predlažemo da uvijek pogledate na račun ili na neki drugi način saznate ime pravne osobe. Pravne osobe su u našu bazu upisane pod pravim nazivima (ne tržišnim!) i naći ćete ih pod imenima pod kojima su upisane u registre. Također, da bi prigovor bio zakonski valjan morate upisati pravi naziv pravne osobe.</li>
<li>Ako zapnete, možete <a href="/help/contact">nas kontaktirati</a> za pomoć.</li>
</ul>
</dd>

<dt id="authorities">Zašto su osim trgovaca uključena i tijela javne vlasti? <a href="#authorities">#</a> </dt>

<dd>
<p>Tijela javne vlasti pružaju usluge građanima i dužna su pružati kvalitetnu uslugu. Osim toga mnoge tvrtke su i dalje u javnom vlasništvu i kao takva spadaju u javni sektor.
</p>
</dd>

<dt id="missing_body">Ne pronalazite pravnu osobu kojoj želite podnijeti prigovor? <a href="#missing_body">#</a> </dt>

<dd>
<p>Molimo vas da <a href="<%= new_change_request_path %>">nas kontaktirate</a> te nam kažite naziv pravne osobe koju ne možete pronaći na popisu a ukoliko ste već pronašli e-mail adresu za reklamacije pošaljite nam detalje jer će nam to mnogo pomoći u pokrivanju svih pravnih osoba u Republici Hrvatskoj.
</p>
</dd>

<dt id="focused">Prigovor treba biti jasan, sažet i fokusiran na važne stvari? <a href="#focused">#</a> </dt>

<dd>
<p>
Predlažemo da prigovori koje pišete budu fokusirani na bit problema. Pokušajte biti što precizniji u opisivanju situacije, navedite: 
</p>

<ul>
<li>prodajno mjesto</li>
<li>datum i vrijeme</li>
<li>broj računa</li>
<li>naziv proizvoda ili usluge</li>
<li>opis reklamacije</li>
</ul>

<p>
U vašem prigovoru <b>nemojte pisati</b>:
</p>

<ul>
<li><strike>o stvarima koje nisu od velikog značaja za konkretan slučaj</strike></li>
<li><strike>npr. često kupujem u tom dućanu</strike></li>
<li><strike>osobna imena (trgovca ili službenika)</strike></li>
<li><strike>izjave koje bi mogle naštetiti ugledu ili vrijeđati druge</strike></li>
<li><strike>vaše osobne podatke (OIB, kućna adresa, broj telefona)</strike>.</li>
</ul>

<p>
Ako ipak pošaljete zabranjene informacije, možda ćemo biti prisiljeni ukloniti vaš zahtjev kako ne bi kršili odredbe kaznenog zakona koji se odnosi na klevetanje, a to će biti štetno i za vas i za nas. Kratke i sažete poruke tijelima vlasti pomažu u razumijevanju koje informacije tražite, što znači da odgovor možete dobiti brže.
</p>

</dd>

<dt id="fees">Košta li me išta podnošenje pisanog prigovora?<a href="#fees">#</a> </dt>

<dd>
<p>Ne. Korištenje <i><%= site_name %></i> portala je besplatno.</p>
</dd>


<dt id="quickly_response">Kako brzo mogu očekivati odgovor? <a href="#quickly_response">#</a> </dt>

<dd>
<p>
Nakon slanja pisanog prigovora pravna osoba će dobiti na službeni email Vaš prigovor te svi trgovci ili pružatelji usluga zakonski moraju na zaprimljene potrošaču odgovoriti <strong>najkasnije u roku od 15 dana</strong>. Ako pravna osoba ne odgovori u zakonskom roku na portalu označite da još uvijek čekate odgovor. Ukoliko pravna osoba ne odgovori na Vaš prigovor drugi posjetitelji će imati uvid u Vaš slučaj i on će služiti kao informacija drugim potrošačima o poslovanju te pravne osobe.
</p>
</dd>

<dt id="no_response">Što ako nikada ne dobijem odogovor? <a href="#no_response">#</a> </dt>

<dd>
<p>
U slučaju da ste nezadovoljni s odgovorom trgovca ili u slučaju da niste dobili odgovor u propisanom roku, putem portala <i><%= site_name %></i> možete uputiti drugostupanjsku žalbu, ali ovaj put naslovljeno na Povjerenstvo za reklamacije.
</p>
<p>
Ako je odgovor Povjerenstva za reklamacije nepovoljan za vas ili ga ne zaprimite u propisanom roku od 30 dana od Povjerenstva za reklamacije, možete uputi novi prigovor, ali ovaj put trećestupanjskom tijelu.
</p>
</dd>

<dt id="not_satifised">Što ako nisam zadovoljan s odgovorom koji sam dobio? <a href="#not_satifised">#</a> </dt>
<dd>Ako ste nezadovoljni s odgovorom, pročitajte savjete na stranici <a href="/help/unhappy">Nezadovoljni ste dobivenim odgovorom?</a>
</dd>

<dt id="private_requests">Mogu li podnijeti prigovor u tajnosti (da ne bude objavljen)? <a href="#private_requests">#</a> </dt>

<dd>
<p>Ne. Komunikacija na portalu je javna i svi korisnici koji koriste portal prihvaćaju je kao takvu. Svrha portala je i informiranje građana a to ostvaruje kroz posredovanu javnu komunikaciju između pravnih osoba i građana.</p> 
</dd>

<dt id="moderation">Kako se administrira i moderira sadržaj na portalu? <a href="#moderation">#</a> </dt>

<dd> 
<p>Svi sadržaji neprimjereni javnoj komunikaciji biti će uklonjeni s portala. Sadržaji koji nisu sukladni Zakonu o elektroničkim medijima također će biti uklonjeni s portala. Moderatori će uklanjati i sadržaje koje će smatrati off topic raspravama, nepotrebnim političkim diskusijama ili reklamiranjem određenih proizvoda ili usluga.</p>
<dd>

</dl>

<p><strong>Dalje</strong>, čitajte o <a href="/help/privacy">vašoj privatnosti</a> --&gt;

<div id="hash_link_padding"></div>

</div>
