<% @title = "Podnošenje prigovora" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">

<h1 id="making_requests"><%= @title %> elektroničkim putem <a href="#making_requests">#</a> </h1>
<dl>

<dt id="complaint_policy">Pravila podnošenja prigovora <a href="#complaint_policy">#</a> </dt>

<dd>
<p>Prije podnošenja prigovora, pročitajte pravila korištenja portala <i><%= site_name %></i>. Uvjerite se da je prigovor koji šaljete trgovcu autentičan, doslijedan i relevantan te potkrijepljen dokazima kada je to moguće. Ne iznosite osobne informacije o sebi ili drugim osobama. Svi oni koji će biti u suprotnosti s ovim pravilima biti će uklonjeni.</p>
<p>Bilo da podnosite prigovor ili reklamaciju na proizvod ili uslugu, sadržaj zajedno sa slikama, opisima i vašem doživljaju trebaju biti od pomoći trgovcu u rješavanju vašeg prigovora. Opisivanje vašeg doživljaja je dobar način da navedete pozitivna i negativna mišljenja, ali slijedite pravila korištenja navedena ispod kada pišete vaš prigovor.</p>
<p>Uklonit ćemo sadržaj koji krši bilo koje pravilo o sadržaju navedeno u nastavku:
<ul>
<li><b>Oglašavanje.</b> Ne koristite <i><%= site_name %></i> za oglašavanje, poput dodavanja linkova na druge internetske stranice ili kontakt podatake. Prigovori trebaju biti stvaran odraz vašeg iskustva kod trgovca kojem šaljete prigovor. Nemojte slati prigovore u namjeri da naštetite trgovcu.</li>
<li><b>Spam.</b> Nemojte slati neželjene sadržaje. Pišite pouzdane i stvarne prigovore o svom iskustvu kod određenog trgovca. Ne uključujte promotivne ili komercijalne sadržaje, ne objavljujte isti sadržaj više puta i nemojte pisati reklamacije istom trgovcu s više korisničkih računa.</li>
<li><b>Telefonski brojevi, e-adrese ili URL-ovi.</b> Da bismo spriječili objavljivanje prigovora s oglasima i neželjenim sadržajima, u sadržaju ne dopuštamo telefonske brojeve, e-mail adrese ni veze na druge internetske lokacije. Ako želite ažurirati kontakt podatke, e-mail adresu ili internetsku stranicu trgovca kojem pišete prigovor, upotrijebite vezu na profilnoj stranici trgovca <i>Tražite nas da ažuriramo podatke</i> da biste nam prijavili promjenu tih podataka.</li>
<li><b>Poruke nevezane uz temu.</b> Nemojte slati prigovore na temelju tuđeg iskustva ni prigovore koje se ne odnose na trgovca kojem pišete prigovor. <i><%= site_name %></i> nisu mjesto za općenito komentiranje političkih i društvenih događaja ni za iznošenje osobnih tirada. Pogrešni podaci na <i><%= site_name %></i> ili je pravna osoba nekativna? Umjesto pisanja prigovora, prijavite taj podatak pomoću veze na profilnoj stranici trgovca <i>Tražite nas da ažuriramo podatke</i>.</li>
<li><b>Budite pristojni.</b> Nemojte upotrebljavati nepristojan, svetogrdan ni uvredljiv rječnik. Uklonit ćemo i poruke koje predstavljaju napade na druge osobe.</li>
<li><b>Sukob interesa.</b> Prigovori su najvrjedniji kada su napisani iskreno i bez predrasuda. Nemojte nuditi ni prihvaćati novac, proizvode ni usluge za pisanje prigovora o nekoj pravnoj osobi ni za pisanje negativnih prigovora o konkurentskoj tvrtci.</li>
<li><b>Nezakonit sadržaj.</b> Nemojte objavljivati prigovore koje sadrže nezakoniti sadržaj ili veze na njega.</li>
<li><b>Sadržaj zaštićen autorskim pravima.</b> Ne objavljujte prigovore koje krše prava drugih osoba, uključujući autorska prava. Da biste saznali više ili podnijeli prigovor u skladu sa trenutno važećim zakonskim propisima, proučite naše postupke koji se tiču <a href="/help/officers#copyright">autorskih prava</a>.</li>
<li><b>Seksualno eksplicitni materijali.</b> Ne dopuštamo poruke koje sadrže seksualno eksplicitne materijale. Nipošto ne dopuštamo ni sadržaje koje iskorištavaju djecu u seksualnom smislu ili ih prikazuju u seksualnom kontekstu. Ako naiđemo na takav sadržaj, uklonit ćemo poruku, zatvoriti račun i poslati izvješće nadležnom Centru za nestalu i iskorištavanu djecu i predstavnicima zakona.</li>
<li><b>Lažno predstavljanje.</b> Nemojte objavljivati poruke u ime drugih korisnika i nemojte se lažno predstavljati, odnosno lažno predstavljati svoj odnos s trgovcem za koji podnosite prigovor.</li>
<li><b>Osobni i povjerljivi podaci.</b> Nemojte objavljivati poruke koje sadrže osobne i povjerljive podatke drugih osoba, uključujući kontakt podatke, podatke o kreditnim karticama, brojeve osobnih iskaznica, podatke o vozačkim dozvolama itd.</li>
<li><b>Govor mržnje.</b> Ne dopuštamo sadržaje koje su usmjerene protiv grupa ljudi zbog njihove rase, etničkog podrijetla, vjere, invalidnosti, spola, dobi, braniteljskog statusa, seksualne orijentacije ni spolnog identiteta.</li>
</ul></p>
</dd>

<dt id="which_authority">Nisam siguran kome moram podnijeti prigovor? <a href="#which_authority">#</a> </dt>

<dd>
<p>Ponekada može biti teško pronaći pravi naziv pravne osobe. Evo nekoliko savjeta:
<ul>
<li>Pogledajte na račun ili neki drugi dokument je li napisano ime trgovca ili pružatelja usluga.</li>
<li>Potražite na <i><%= site_name %></i> neke slične žalbe.</li>
<li>Upišite u Google ili neku drugu tražilicu naziv proizvoda koji ste kupili te pokušajte utvrditi radi li se o trgovcu ili tijelu javne vlasti kojem možete podnijeti prigovor.</li>
<li>Predlažemo da uvijek pogledate na račun ili na neki drugi način saznate ime pravne osobe. Pravne osobe su u našu bazu upisane pod pravim nazivima (ne tržišnim!) i naći ćete ih pod imenima pod kojima su upisane u registre. Također, da bi prigovor bio zakonski valjan morate upisati pravi naziv pravne osobe.</li>
<li>Ako zapnete, možete <a href="/help/contact">nas kontaktirati</a> za pomoć.</li>
</ul>
</dd>

<dt id="authorities">Zašto su osim trgovaca uključena i tijela javne vlasti? <a href="#authorities">#</a> </dt>

<dd>
<p>Tijela javne vlasti pružaju usluge građanima i dužna su pružati kvalitetnu uslugu. Osim toga mnoge tvrtke su i dalje u javnom vlasništvu i kao takva spadaju u javni sektor.
</p>
</dd>

<dt id="missing_body">Ne pronalazite pravnu osobu kojoj želite podnijeti prigovor? <a href="#missing_body">#</a> </dt>

<dd>
<p>Molimo vas da <a href="<%= new_change_request_path %>">nas kontaktirate</a> te nam kažite naziv pravne osobe koju ne možete pronaći na popisu a ukoliko ste već pronašli e-mail adresu za reklamacije pošaljite nam detalje jer će nam to mnogo pomoći u pokrivanju svih pravnih osoba u Republici Hrvatskoj.
</p>
</dd>

<dt id="focused">Prigovor treba biti jasan, sažet i fokusiran na važne stvari? <a href="#focused">#</a> </dt>

<dd>
<p>
Predlažemo da prigovori koje pišete budu fokusirani na bit problema. Pokušajte biti što precizniji u opisivanju situacije, navedite: 
</p>

<ul>
<li>prodajno mjesto</li>
<li>datum i vrijeme</li>
<li>broj računa</li>
<li>naziv proizvoda ili usluge</li>
<li>opis reklamacije</li>
</ul>

<p>
U vašem prigovoru <b>nemojte pisati</b>:
</p>

<ul>
<li><strike>o stvarima koje nisu od velikog značaja za konkretan slučaj</strike></li>
<li><strike>npr. često kupujem u tom dućanu</strike></li>
<li><strike>osobna imena (trgovca ili službenika)</strike></li>
<li><strike>izjave koje bi mogle naštetiti ugledu ili vrijeđati druge</strike></li>
<li><strike>vaše osobne podatke (OIB, kućna adresa, broj telefona)</strike>.</li>
</ul>

<p>
Ako ipak pošaljete zabranjene informacije, možda ćemo biti prisiljeni ukloniti vaš zahtjev kako ne bi kršili odredbe kaznenog zakona koji se odnosi na klevetanje, a to će biti štetno i za vas i za nas. Kratke i sažete poruke tijelima vlasti pomažu u razumijevanju koje informacije tražite, što znači da odgovor možete dobiti brže.
</p>

</dd>

<dt id="fees">Košta li me išta podnošenje pisanog prigovora?<a href="#fees">#</a> </dt>

<dd>
<p>Ne. Korištenje <i><%= site_name %></i> portala je besplatno.</p>
</dd>


<dt id="quickly_response">Kako brzo mogu očekivati odgovor? <a href="#quickly_response">#</a> </dt>

<dd>
<p>
Nakon slanja pisanog prigovora pravna osoba će dobiti na službeni email Vaš prigovor te svi trgovci ili pružatelji usluga zakonski moraju na zaprimljene potrošaču odgovoriti <strong>najkasnije u roku od 15 dana</strong>. Ako pravna osoba ne odgovori u zakonskom roku na portalu označite da još uvijek čekate odgovor. Ukoliko pravna osoba ne odgovori na Vaš prigovor drugi posjetitelji će imati uvid u Vaš slučaj i on će služiti kao informacija drugim potrošačima o poslovanju te pravne osobe.
</p>
</dd>

<dt id="no_response">Što ako nikada ne dobijem odogovor? <a href="#no_response">#</a> </dt>

<dd>
<p>
U slučaju da ste nezadovoljni s odgovorom trgovca ili u slučaju da niste dobili odgovor u propisanom roku, putem portala <i><%= site_name %></i> možete uputiti drugostupanjsku žalbu, ali ovaj put naslovljeno na Povjerenstvo za reklamacije.
</p>
<p>
Ako je odgovor Povjerenstva za reklamacije nepovoljan za vas ili ga ne zaprimite u propisanom roku od 30 dana od Povjerenstva za reklamacije, možete uputiti novi prigovor, ali ovaj put trećestupanjskom tijelu.
</p>
</dd>

<dt id="not_satifised">Što ako nisam zadovoljan s odgovorom koji sam dobio? <a href="#not_satifised">#</a> </dt>
<dd>Ako ste nezadovoljni s odgovorom, pročitajte savjete na stranici <a href="/help/unhappy">Nezadovoljni ste dobivenim odgovorom?</a>
</dd>

<dt id="private_requests">Mogu li podnijeti prigovor u tajnosti (da ne bude objavljen)? <a href="#private_requests">#</a> </dt>

<dd>
<p>Ne. Komunikacija na portalu je javna i svi korisnici koji koriste portal prihvaćaju je kao takvu. Svrha portala je i informiranje građana a to ostvaruje kroz posredovanu javnu komunikaciju između pravnih osoba i građana.</p> 
</dd>

<% if AlaveteliConfiguration::enable_annotations %>
<dt id="moderation">Kako se administrira i moderira sadržaj na portalu? <a href="#moderation">#</a> </dt>

<dd> 
<p>Svi sadržaji neprimjereni javnoj komunikaciji biti će uklonjeni s portala. Sadržaji koji nisu sukladni Zakonu o elektroničkim medijima također će biti uklonjeni s portala. Moderatori će uklanjati i sadržaje koje će smatrati off topic raspravama, nepotrebnim političkim diskusijama ili reklamiranjem određenih proizvoda ili usluga.</p>
<dd>
<% end %>

<dt id="not_satifised">Što ako nisam zadovoljan s odgovorom koji sam dobio? <a href="#not_satifised">#</a> </dt>
<dd>Ako ste nezadovoljni s odgovorom, pročitajte savjete na stranici <a href="/help/unhappy">Nezadovoljni ste dobivenim odgovorom?</a>
</dd>


Whether you're going to a place or you own one, you want ratings, reviews, photos, and recommendations that are helpful and trustworthy. Reviewing a place is a great way to share both positive and negative opinions. But please follow the policies listed below when writing your review.

</dl>

<p><strong>Dalje</strong>, čitajte o <a href="/help/privacy">vašoj privatnosti</a> --&gt;

<div id="hash_link_padding"></div>

</div>
